<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" type="image/x-icon"
	href="/assets/img/favicon.ico">
<title>Beagle</title>
<!-- Angular -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<link rel="stylesheet" href="/assets/css/admin.css" type="text/css">
<link rel="stylesheet" href="/assets/css/adminform.css" type="text/css">
</head>
<body ng-app="authority-app" ng-controller="authority-ctrl">

	<div class="be-wrapper be-fixed-sidebar">
		<nav class="navbar navbar-expand fixed-top be-top-header">
			<div class="container-fluid">
				<div class="be-navbar-header">
					<a class="navbar-brand" href="index.html"></a>
				</div>
				<div class="page-title">
					<span>Dashboard</span>
				</div>
				<div class="be-right-navbar">
					<ul class="nav navbar-nav float-right be-user-nav">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
							role="button" aria-expanded="false"><img
								src="/assets/img/gallery/apple.jpg" alt="Avatar"><span
								class="user-name">Bùi Hải Hưng</span></a>
							<div class="dropdown-menu" role="menu">
								<div class="user-info">
									<div class="user-name">Bùi Hải Hưng</div>
									<div class="user-position online">Available</div>
								</div>
								<a class="dropdown-item" href="pages-profile.html"><span
									class="icon mdi mdi-face"></span>Account</a><a
									class="dropdown-item" href="#"><span
									class="icon mdi mdi-settings"></span>Settings</a><a
									class="dropdown-item" href="pages-login.html"><span
									class="icon mdi mdi-power"></span>Logout</a>
							</div></li>
					</ul>
					<ul class="nav navbar-nav float-right be-icons-nav">
						<li class="nav-item dropdown"><a
							class="nav-link be-toggle-right-sidebar" href="#" role="button"
							aria-expanded="false"><span class="icon mdi mdi-settings"></span></a></li>

					</ul>
				</div>
			</div>
		</nav>
		<div class="be-left-sidebar">
			<div class="left-sidebar-wrapper">
				<a class="left-sidebar-toggle" href="#">Dashboard</a>
				<div class="left-sidebar-spacer">
					<div class="left-sidebar-scroll">
						<div class="left-sidebar-content">
							<ul class="sidebar-elements">
								<li class="divider">Menu</li>
								<li class="active"><a href="index"><i
										class="icon mdi mdi-home"></i><span>Dashboard</span></a></li>
								<li class="active"><a href="Authority"><i
										class="icon mdi mdi-home"></i><span>Authority</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="be-content">
		<div class="main-content container-fluid">
			<div class="row	">
				<div class="col-12 col-lg-12 ">
					<div class="card card-table">
						<div class="card-header">
							<div class="title">Authority</div>
						</div>
						<div class="card-body table-responsive">
							<table class="table table-bordered ">
								<thead class="bg-success"
									style="font-family: 'Times New Roman', Times, serif;">
									<tr>
										<th></th>
										<th></th>
										<th ng-repeat="role in roles" class="text-center">{{role.name}}</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="acc in admins">
										<td></td>
										<td>{{acc.fullname}}</td>
										<td ng-repeat="role in roles" class="text-center"><input
											ng-checked="authority_of(acc,role)"
											ng-click="authority_changed(acc,role)" type="checkbox">
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="/assets/js/authority-ctrl.js"></script>
	<!-- 		<script type="text/javascript">
			$(document).ready(function() {
				//-initialize the javascript
				App.init();
				App.dashboard();

			});
		</script> -->
</body>
</html>