<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
</head>
<body>
    
    <script th:inline="javascript">

function getRandomColor() {
  const colors = [
    "#FF5733", "#33FF57", "#5733FF", "#FF33A8", "#33A8FF",
    "#FFC733", "#33FFC7", "#C733FF", "#FF33E5", "#33E5FF",
    "#FF8233", "#33FF82", "#8233FF", "#FF33FA", "#33FAFF",
    "#FF3366", "#33FF66", "#3366FF", "#FF6699", "#6699FF",
    "#FF6699", "#99FF66", "#66FF99", "#FF9966", "#66FF99"
  ];

  const randomColor = colors[Math.floor(Math.random() * colors.length)];

  return randomColor;
}


    </script>

</body>
</html>